.modal {
	z-index: 400;
	position: fixed;
	bottom: calc(80px + var(--nav-height) * 0.3);
	/* bottom: 80px; */
	right: 0;
	width: 100%;
	border: 3px solid var(--lighter-secondary-color);
	border-radius: 8px;
	overflow: hidden;
}

.modal__header {
	width: 100%;
	padding: 1rem 0.5rem;
	background: var(--bg-accent);
	color: white;
}

.modal__header h2 {
	margin: 0.5rem;
}

.modal__content {
	padding: 1rem 0.5rem;
}

.modal__footer {
	padding: 1rem 0.5rem;
}

.modal__close {
	cursor: pointer;
}

.modal__close:after,
.modal__close:before {
	content: '';
	height: 20px;
	width: 20px;
	border-top: 2px solid var(--lighter-secondary-color);
	position: absolute;
	top: 15px;
	right: 1px;
	transform: rotate(-45deg);
}
.modal__close:before {
	right: 15px;
	transform: rotate(45deg);
}

.modal__close:hover {
	opacity: 0.3;
}

@media (min-width: 768px) {
	.modal {
		width: 30rem;
		right: calc(var(--nav-height) * 0.8 + 15px);
	}
}
