.main-page {
	margin-top: calc(var(--nav-height) + 1rem);
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.main-page__feeds {
		flex-direction: column;
		justify-content: space-around;
		margin: 1rem;
	}
}
