.admin-user {
	width: 100%;
	color: var(--primary-text);
}

.admin-user ul {
	list-style: none;
	padding: 0 0.25rem;
}

.admin-user__filter {
	z-index: 20;
	position: fixed;
	top: var(--nav-height);
	border-right: var(--border);
	background-color: var(--primary-bg-color);
	height: calc(100vh - var(--nav-height));
	width: 360px;
	overflow-y: scroll;
	padding: 0.5rem;
}

.admin-user__filter-close {
	cursor: pointer;
	visibility: hidden;
}

.admin-user__filter-close:after,
.admin-user__filter-close:before {
	content: '';
	height: 20px;
	width: 20px;
	border-top: 2px solid var(--dark-primary-color);
	position: absolute;
	top: 15px;
	right: 5px;
	transform: rotate(-45deg);
}
.admin-user__filter-close:before {
	right: 19px;
	transform: rotate(45deg);
}

.admin-user__filter-close:hover {
	opacity: 0.3;
}

.admin-user__filter-open {
	cursor: pointer;
	position: fixed;
	top: calc(var(--nav-height) + 1rem);
	left: 0;
	height: 3rem;
	width: 2rem;
}

.admin-user__filter-open button {
	border-radius: 0;
	border-bottom-right-radius: 4px;
	padding: 0;
	height: 100%;
	width: 100%;
}

.admin-user__result {
	margin-left: 360px;
	margin-right: auto;
	margin-top: calc(var(--nav-height) + 1rem);
	padding: 0 1rem;
}

.admin-user__result li {
	margin: 1rem;
}

.user-item__card {
	display: flex;
	font-weight: 400;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.user-item__info {
	margin-left: 1rem;
	margin-right: 2rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.user-item__info p {
	margin: 0.25rem 0;
}

.user-item__info em {
	font-size: 0.9rem;
}

.user-item__user {
	margin: 0;
}

@media (max-width: 1162px) {
	.admin-user {
		display: block;
	}

	.admin-user__result {
		margin-left: 1rem;
	}

	.admin-user__filter-close {
		visibility: visible;
	}

	.admin-user__result .place-list {
		width: 80%;
		margin: 0 auto;
		margin-top: calc(var(--nav-height) + 1rem);
	}
}

@media (max-width: 768px) {
	.admin-user__result .place-list {
		width: 90%;
		margin: 0 auto;
		margin-top: calc(var(--nav-height) + 1rem);
	}
}
