.authentication__header {
	color: var(--primary-text);
	text-align: center;
}

.authentication {
	width: 90%;
	max-width: 40rem;
	margin: 7rem auto;
	margin-top: 3rem;
	text-align: center;
}

.authentication form {
	margin-bottom: 1rem;
}
